*{
    font-family: 'Open Sans', sans-serif;
   }

body{ background-image :url("https://www.drdo.gov.in/sites/default/files/inline-images/drdo.PNG") ;
    background-position:center;
    background-size:100%;
background-repeat:no-repeat;
margin-top:90px;


}
    h1{text-align:center;}

div{
    padding:10px;
    margin-top:5px;
    
}
form{
    width:450px;
    height:max-content;
    border:7px solid #331d2c;
    border-radius:15px;
    margin:0 auto;
    margin-top:40px;
    background-color:rgb(250, 243, 240,0.7);
    box-sizing:border-box;
    padding:30px;
    
}


.button{
    display:flex;
    align-items: center;
  justify-content: center;
  padding:20px;
  
}
button{background-color:#c32253;
    border-radius:15%;
    border:2px solid black;
    padding:8px;

    color:white;
    font-weight:bold;

}

button:hover{background-color:#44a832;}


label{font-weight:bold;}
input{width:80%;}
select{width:60%;}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{margin: 0px;
padding:0px;
box-sizing:border-box;
font-family:"Poppins",sans-serif;}
body{min-height:100vh;}

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 100px;
    background:#aab7f0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:100%;
}

.navbar a{font-size:18px;
color:white;
font-weight:500;
text-decoration:none;
margin-left:40px;
}

img{width:40px;}


  
