
body{ background-image :url("https://www.drdo.gov.in/sites/default/files/inline-images/drdo.PNG") ;
    background-position:center;
    background-size:100%;
background-repeat:no-repeat;

overflow-y: hidden;}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{margin: 0px;
padding:0px;
box-sizing:border-box;
font-family:"Poppins",sans-serif;}
body{min-height:100vh;}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    margin:0;
    background-color: #6C3428c4;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height:80px;
  }
  
  .logo img {
    margin-right: 10px;
    margin-left:20px;
  }
  
  .nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
  }
  
  .nav-links li {
    margin-right: 45px;
  }
  
  .nav-links a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight:bold;
    padding: 10px 10px; 
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s
  }
  
  /* Change the color of links on hover (optional) */
  .nav-links a:hover {
    color: white;
    border-bottom: 2px solid #400E32;
    color: #fff;
  background-color: #400E32;
  }
  
  




  .middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight:bold;
    font-size:30px;
    color: #15133C; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    background-color: rgba(250, 243, 240,0.4); 
    padding: 20px; 
    border-radius: 10px; 
    
  }
  
  .container {
    text-align: center;
  }
  
  .buttons {
    margin: 20px;
   
  }
  
  .button {
    display: inline-block;
    padding: 18px 20px;
    background-color: #42032C;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 12%;
    cursor: pointer;
    margin: 0 10px;
    font-weight:bold;
    font-size:20px;
  }
  
  .button:hover {
    background-color: #FF577F;
  }
  
  
  
  
  
  
  
  
  
  
  