* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', 'Space Grotesk', Nunito, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(246, 245, 250, .5);
  color: #49494a;
}

.header-wrapper {
  /* border-bottom: 1px solid #aaa; */
  background-color: white;
}

header {
  display: flex;
  width: 980px;
  margin: 0 auto;
}

header div:first-child {
  flex-grow: 1;
}

#title {
  font-size: 45px;
  font-family: 'Space Grotesk';
  color: #1a0278;
  line-height: 64px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333333; */
}

header li {
  float: left;
}

header li a {
  line-height: 64px;
  display: block;
  color: inherit;
  text-align: center;
  padding: 0px;
  padding-left: 16px;
  text-decoration: none;
}

header li a:hover {
  color: blue;
}

#content-wrapper {
  width: 980px;
  margin: 0 auto;
  margin-top: 20px;
}

#content {
  display: grid;
  grid-template-columns: 150px auto;
  column-gap: 20px;
}

#side-bar {
  background-color: white;
  border-radius: 16px;
  padding: 16px 0;
}

#side-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;}

#side-bar li a {
  line-height: 32px;
  display: block;
  color: inherit;
  padding: 0px 16px;
  text-decoration: none;
}

#side-bar li a:hover {
  color: blue;
  background-color: rgba(246, 245, 250, .5);
}

#sub-title-wrapper {
  display: flex;
  margin-bottom: 8px;
}

#sub-title-wrapper h3 {
  flex-grow: 1;
}

#sub-title-wrapper a, #save-button {
  text-decoration: none;
  font-weight: 700;
  padding: 4px 16px;
  background-color: #1a0278;
  color: white;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}

#sub-title-wrapper a:hover, #save-button:hover {
  background-color: #10004f;
}

#content-main {
  background-color: white;
  padding: 16px 04px;
  border-radius: 16px;
  min-height: 512px;
}

#data-table {
  font-size: 14px;
  font-family: Nunito;
  border-collapse:collapse;
  width: 100%;
}

#data-table tr {
  border-bottom: 1px solid #ccc;
}

#data-table th{
  font-size: 12px;
  text-align: left;
  line-height: 32px;
  color: grey;
}

.edit {
  text-decoration: none;
  color: #1a0278;
}

.edit:hover {
  color: #10004f;
}

.delete {
  text-decoration: none;
  color: #f00;
}

.delete:hover {
  color: rgb(144, 1, 1);
}

footer {
  font-size: 12px;
  text-align: center;
}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay.light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  border-radius: 16px;
  width: 512px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
}

.popup h3 {
  margin-top: 0;
  margin-bottom: 16px;
  color: #666;
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}

.popup .close:hover {
  opacity: 1;
}

.popup .content {
  max-height: 400px;
  overflow: auto;
}

.popup p {
  margin: 0 0 1em;
}

.popup p:last-child {
  margin: 0;
}

.button-wrapper {
  text-align: center;
  margin-top: 16px;
}

#cancel-button {
  margin-left: 8px;
  text-decoration: none;
  color: grey;
}

#cancel-button:hover {
  color: gray;
}